.itemContainer {
  color: #242424;
  margin: 70px 0;
}

.itemTitle {
  font-size: 48px;
  line-height: 150%;
  width: 60%;
  font-weight: 200;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.itemPrice h1 {
  font-size: 48px;
  line-height: 150%;
  font-weight: 400;
}

.itemPriceBtn {
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  border-radius: 40px;
  width: 207px;
}

.itemBody {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.itemImage img {
  height: auto;
  max-width: 450px;
  margin-right: 20px;
}

.itemInfo {
  width: 100%;
}

.itemInfoTitle > p:first-child {
  font-size: 24px;
  line-height: 150%;
}

.itemInfoTitle p {
  margin: 0;
  padding: 0;
}

.itemInfoTitle {
  border-bottom: 2px solid #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemFilter {
  margin-top: 20px;
  min-height: 350px;
  width: 50%;
}

.itemNavigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.itemAddFavorite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  cursor: pointer;
}

.itemAddFavorite > svg:first-child {
  font-size: 25px;
}

.itemAddFavorite p {
  margin: 0;
  padding: 0;
}

.itemBuy p {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #242424;
}

.itemBuy {
  cursor: pointer;
}

.additional {
  border-top: 2px solid #242424;
  margin-top: 40px;
  padding-top: 40px;
}

.colors {
  display: flex;
  align-items: center;
}

.chooseColor {
  margin-left: 10px;
}

.color {
  cursor: pointer;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.chosenColor {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.memory {
  margin-left: 10px;
  cursor: pointer;
}

.chosenMemory {
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-left: 15px;
}

.chooseMemory {
  margin-left: 15px;
  cursor: pointer;
}

.memories {
  margin-top: 20px;
  display: flex;
}

.itemFooter {
  margin-top: 100px;
  width: 100%;
}

.footerTitle {
  border-bottom: 2px solid #242424;
}

.footerTitle h3 {
  font-size: 24px;
  line-height: 150%;
}

.footerBody {
  padding: 30px 0;
}

.recommendedTitle {
  border-bottom: 2px solid #242424;
}

.recommended {
  margin-top: 100px;
}

.recommendedTitle h1 {
  font-size: 48px;
  line-height: 150%;
}

.flex {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 77px;
}

.favText {
  margin-left: 10px;
}

.loader {
  height: 100vh;
}

.priceDiscount h3 {
  text-align: center;
  font-weight: 800;
}
.priceDiscount h1 {
  font-weight: 200;
  text-decoration: line-through 4px solid #242424;
  color: #24242492;
}

@media (max-width: 1000px) {
  .itemPrice {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .recommendedTitle h1,
  .itemPrice h1,
  .itemTitle {
    font-size: 42px;
    line-height: 130%;
  }
}

@media (max-width: 880px) {
  .itemBody {
    flex-wrap: wrap;
  }
  .itemImage {
    margin: 0 auto;
  }
  .itemImage img {
    margin: 0;
  }
  .itemFilter {
    width: 70%;
  }
}

@media (max-width: 685px) {
  .itemHeader {
    flex-direction: column;
    justify-content: space-around;
  }

  .itemTitle,
  .itemPrice {
    width: 100%;
    text-align: center;
  }

  .itemTitle {
    margin-bottom: 30px;
  }

  .recommendedTitle h1,
  .itemPrice h1,
  .itemTitle {
    font-size: 38px;
    line-height: 100%;
  }

  .itemImage img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .recommendedTitle h1,
  .itemPrice h1,
  .itemTitle {
    font-size: 34px;
  }
}

@media (max-width: 400px) {
  .recommendedTitle h1,
  .itemPrice h1,
  .itemTitle {
    font-size: 30px;
  }
}
