.selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select {
  width: 384px;
  margin-top: 35px;
  border: none;
  border-bottom: 2px solid black;
  height: 20px;
  outline: none;
}

option:first {
  color: #9a9a9a;
}
