.callback {
  height: 314px;
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bannerBlock {
  color: #000;
}

.advice {
  font-size: 48px;
  line-height: 72px;
}

.description {
  white-space: pre-line;
  font-size: 24px;
  line-height: 36px;
}

.callbackForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.callbackBtn {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
}

.input {
  width: 302px;
  border-bottom: 2px solid #000;
}

@media (max-width: 712px) {
  .callback {
    height: 414px;
  }
}

@media (max-width: 412px) {
  .callback {
    height: 514px;
  }
}
