.input {
  background: transparent;
  height: 40px;
  width: 302px;
  border: none;
  outline: none;
  border-bottom: 2px solid #242424;
  font-size: 18px;
  line-height: 24px;
}

.input::placeholder {
  color: #000000;
  font-size: 16px;
}
