.input {
  background: transparent;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  border-bottom: 2px solid black;
}

.input:invalid[focused="true"] {
  box-shadow: 5px 26px 17px -12px rgba(185, 0, 0, 0.3);
}

.input:invalid[focused="true"] ~ span {
  display: block;
}

.input::placeholder {
  color: #00000065;
  font-size: 16px;
}

.error {
  font-size: 15px;
  color: rgb(255, 0, 111);
}

.inputClassName {
  width: 100%;
}

.validate {
  text-align: center;
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
