.wrapper {
  min-height: 90vh;
  padding: 100px 0;
}

.loader {
  height: 100vh;
}

.table {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.table tr {
  height: 60px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchSince {
  display: flex;
  width: 420px;
  justify-content: space-between;
  align-items: center;
}

.searchSinceInput {
  width: 60px;
}

.btn {
  width: 45%;
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
}

.btns {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.alreadyDelivered {
  padding: 5px;
  background: rgb(0, 194, 0);
}

.notDelivered {
  padding: 5px;
  background: rgb(255, 50, 50);
  color: white;
}
