@font-face {
  font-family: "ICTV";
  src: url("../public/fonts/ICTV-Regular.woff2"),
    url("../public/fonts/ICTV-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ICTV";
  src: url("../public/fonts/ICTV-Bold.woff2"),
    url("../public/fonts/ICTV-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ICTV", sans-serif;
  background-color: #f5f5f5;
}
