.scrollToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  transition: 0.3s;
}

.active {
  opacity: 1;
}

.scrollBtn {
  border: 1px solid #24242459;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  font-size: 30px;
}

.scrollBtn:hover {
  transition: 0.5s;
  box-shadow: 0px 15px 20px #2424243a;
}
