.sortButton {
  width: 340px;
  -webkit-box-shadow: 10px 13px 7px -6px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 13px 7px -6px rgba(0, 0, 0, 0.26);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.items {
  width: 85%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sortBlock {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sortBlock div {
  border-bottom: 2px solid black;
}

.sortBlock div:first-child {
  padding-right: 25px;
}

.sortBlock label,
.sortBlock select {
  margin-bottom: 5px;
}

.sortBlock label {
  margin-right: 5px;
}

.sortBlock select {
  cursor: pointer;
  border: none;
  outline: none;
}

.range {
  margin: 40px 20px;
}

.filterContent {
  margin-top: 100px;
}

.filterTitle {
  text-transform: capitalize;
  color: #000000;
  border-bottom: 2px solid black;
}

.loader {
  height: 90vh;
}

.btnApply {
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  border-radius: 40px;
  width: 138px;
  height: 44px;
}

.btnReset {
  background: transparent;
  border: #b5e0fd 1px solid;
  border-radius: 40px;
  width: 138px;
  height: 44px;
}

.filterBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.checkbox {
  margin-top: 20px;
  color: #242424;
}
