.sortButton {
  width: 340px;
  -webkit-box-shadow: 10px 13px 7px -6px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 13px 7px -6px rgba(0, 0, 0, 0.26);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.items {
  width: 85%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sortBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.select {
  border-bottom: 2px solid black;
}

.sortBlock div:first-child {
  padding-right: 25px;
}

.sortBlock label,
.sortBlock select {
  margin-bottom: 5px;
}

.sortBlock label {
  margin-right: 5px;
}

.sortBlock select {
  cursor: pointer;
  border: none;
  outline: none;
}

.range {
  margin: 20px 10px;
  font-size: 14px;
}

.filterContent {
  margin-top: 100px;
  width: 375px;
}

.filterTitle {
  text-transform: capitalize;
  color: #000000;
  border-bottom: 2px solid black;
}

.loader {
  height: 90vh;
}

.btnApply {
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  border-radius: 40px;
  width: 118px;
  height: 44px;
}

.btnReset {
  background: transparent;
  border: #b5e0fd 1px solid;
  border-radius: 40px;
  width: 118px;
  height: 44px;
}

.filterBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.checkbox {
  margin-top: 20px;
  color: #242424;
}

.carouselNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.showFilter {
  margin-left: 20px;
  width: 130px;
  border: 1px solid #b5e0fd;
  display: none;
}

@media (max-width: 1280px) {
  .filterContent {
    max-width: 250px;
  }
  .btnApply,
  .btnReset {
    width: 100px;
  }
}

@media (max-width: 1220px) {
  .filterContent {
    display: none;
  }
  .showFilter {
    display: block;
  }
  .container {
    display: block;
    width: 100%;
  }
  .items {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (max-width: 770px) {
  .carouselNav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .FilterBlock {
    width: 100%;
    margin: 0 20px;
  }

  .showFilter {
    max-width: 770px;
    width: 100%;
    border: 1px solid #b5e0fd;
    margin: 0;
  }

  .sortBlock {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 610px) {
  .sortBlock {
    width: 100%;
  }
  .sortBlock label {
    display: none;
  }
}
