.navigation {
  display: flex;
  color: #000;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}

.border:not([size]) {
  width: 12px;
  height: 2px;
  color: #000;
  background: #000;
}

.link,
.link:hover,
.link:focus {
  color: #676767;
  font-size: 12px;
  text-decoration: none;
}

.title {
  margin-top: 30px;
  font-size: 48px;
  line-height: 150%;
  border-bottom: 2px solid black;
  color: #242424;
}

.favoritesContainer {
  margin-bottom: 100px;
  min-height: 50vh;
}

.empty {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h1 {
  font-size: 48px;
  color: #242424;
  text-align: center;
}
