.statisticBlock {
  width: 400px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  padding: 5px 10px;
  align-items: center;
  box-shadow: 5px 5px 25px 5px #24242413;
}

.statisticBlock p,
.statisticBlock span {
  margin: 0;
  padding: 0;
  text-align: center;
}
