.deliveryTitle {
  font-size: 24px;
  line-height: 36px;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.checkbox {
  width: 384px;
  margin-top: 30px;
}

.mapContainer {
  margin: 40px 0;
}
