.deliveryTitle {
  font-size: 24px;
  line-height: 36px;
}

.methods {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.label {
  width: 384px;
  margin-top: 30px;
}

.label input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.label label {
  position: relative;
  cursor: pointer;
}

.label label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #242424;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.label input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #242424;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.mapContainer {
  margin: 40px 0;
}
