.buttonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 35px;
  gap: 10px;
  border-radius: 40px;
  cursor: pointer;
}

.button {
  white-space: nowrap;
  height: 18px;
  font-family: "ICTV";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #242424;
}
