.navigation {
  display: flex;
  color: #000;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.wrapper {
  height: 80vh;
}

.title {
  font-size: 48px;
  line-height: 150%;
  color: #242424;
  margin-top: 30px;
}

.subtitle {
  font-size: 24px;
  line-height: 150%;
  color: #000;
}

.form {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.signupDetails {
  width: 100%;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.signUp {
  border: none;
  background: transparent;
}

.btn {
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
  border-radius: 40px;
  width: 134px;
  height: 51px;
  font-size: 14px;
}

.signupBtn {
  display: flex;
}

.inputContainer {
  width: 384px;
  margin-top: 20px;
}

.loginLink,
.loginLink:hover,
.loginLink:focus {
  color: #000;
}

.registrationPage {
  padding: 20px 10px;
}

.border:not([size]) {
  width: 12px;
  height: 2px;
  color: #000;
  background: #000;
}

.link,
.link:hover,
.link:focus {
  line-height: 24px;
  color: #676767;
  font-size: 12px;
  text-decoration: none;
}
