.footer {
  background: #242424;
  height: 310px;
  position: absolute;
  left: 0;
}

.aboutUs {
  color: white;
  margin-top: 54px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.networks {
  text-align: center;
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.socials {
  font-size: 25px;
  display: flex;
  justify-content: space-around;
}

.links {
  margin-bottom: 7px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.links a:hover {
  text-decoration: none;
  color: #fff;
}

.menuTitle,
.contactTitle {
  border-bottom: 1px solid #fff;
  width: 178px;
  font-size: 18px;
}

.description {
  height: 220px;
}

.descriptionTitle {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .contact,
  .menu {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 710px) {
  .aboutUs {
    justify-content: space-around;
  }

  .contact,
  .menu {
    width: 200px;
    margin: 10px;
  }
  .networks {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 875px) {
  .description {
    margin: 30px;
    height: 20px;
  }
}
