.showResult {
  max-width: 500px;
  max-height: 400px;
  width: 100%;
  top: 57px;
  z-index: 9999;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #ffffff;
}

.showResult::-webkit-scrollbar {
  display: none;
}

.searchElements {
  list-style: none;
  padding: 0;
}

.searchElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.searchElement:hover {
  background: #f7f7f7;
}

@media (max-width: 930px) {
  .showResult {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .showResult {
    top: 120px;
  }
}
@media (max-width: 650px) {
  .showResult {
    top: 176px;
    width: 100%;
  }
}
