.cartBody svg {
  font-size: 33px;
  z-index: 5;
}

.itemQuantity {
  opacity: 1;
  position: relative;
  right: 25px;
  bottom: 7px;
  transform: rotate(20deg);
  width: 20px;
  height: 20px;
  background: #b5dffc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.cartBody {
  display: flex;
}

.hide {
  opacity: 0;
  width: 20px;
}
