.profile {
  width: 100%;
  padding: 20px 10px;
}

.title {
  margin-bottom: 45px;
  margin-top: 32px;
  font-size: 48px;
  line-height: 150%;
}

.navigation {
  display: flex;
  color: #000;
  align-items: center;
  width: 130px;
  justify-content: space-between;
}

.border:not([size]) {
  width: 12px;
  height: 2px;
  color: #000;
  background: #000;
}

.link,
.link:hover,
.link:focus {
  line-height: 24px;
  color: #676767;
  font-size: 12px;
  text-decoration: none;
}

.navigationBtns {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.links {
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
  border-bottom: 2px solid;
}

.logout {
  width: 100%;
  border-bottom: 2px solid black;
  justify-content: flex-end;
}

.navBtn {
  border: 1px solid #b5e0fd;
  display: none;
}

@media (max-width: 670px) {
  .userNavigation {
    display: none;
  }

  .navBtn {
    display: block;
  }
}
