.navBtns {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

.navBtn {
  display: flex;
  align-items: center;
  margin: 10px;
}

.callBlock {
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.callBlock a {
  border-bottom: 2px dashed black;
  margin: 0;
  padding: 0;
}

.navBtn svg {
  font-size: 20px;
}

.navBtn a,
.navBtn a:hover,
.navBtn a:focus {
  text-decoration: none;
  color: #000;
}

.searchBlock {
  max-width: 750px;
  width: 100%;
}

.inputSearch {
  width: 100%;
  border-bottom: 2px solid black;
}

.toggler {
  display: none;
}
.toggler,
.toggler:active,
.toggler:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  font-size: 20px;
}
.toggler::-moz-focus-inner {
  border: 0;
}

@media (max-width: 768px) {
  .toggler {
    display: block;
  }
}

@media (max-width: 650px) {
  .navBtns {
    flex-wrap: wrap;
    padding: 0;
  }

  .searchBlock {
    order: 1;
  }
}

@media (max-width: 350px) {
  .navBtns {
    justify-content: center;
  }
}
