.cardBody {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.cardImage {
  width: 100px;
  width: 40%;
}

.cardImage img {
  width: 90px;
  height: auto;
}

.cardInfo {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardDesc {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-size: 16px;
  line-height: 150%;
}
