.btn {
  margin-top: 50px;
  width: 200px;
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
}

.userData {
  width: 50%;
  height: 100%;
}

.formUpdate {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.inputContainer {
  width: 384px;
  margin-top: 20px;
}

.inputSubmit {
  width: 100%;
  background: transparent;
  border: none;
}

.formBlock {
  padding: 20px 10px;
  margin-bottom: 100px;
}

.link,
.link:hover,
.link:focus {
  color: #242424;
  text-decoration: none;
  border-bottom: 2px solid black;
}
