.userProfile {
  border-radius: 20px;
  box-shadow: 10px 10px 20px #f5f5f5;
  width: 350px;
  height: 80%;
  padding: 30px;
}

.userName {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userNavigation {
  height: 100%;
}

.navigationBtns {
  margin: 50px 0;
  padding: 0;
  list-style: none;
}

.navigationBtn {
  height: 30px;
  width: 100%;
}

.navigationBtn a {
  text-decoration: none;
  border-bottom: 2px solid black;
}
