.columns {
  width: 384px;
}

.input {
  margin-top: 15px;
}

.addressBlock {
  width: 820px;
  padding: 20px 10px;
}

.addressForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.label {
  width: 384px;
  margin-top: 30px;
}

.label input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.label label {
  position: relative;
  cursor: pointer;
}

.label label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #242424;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.label input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #242424;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.isMain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.isMain .label {
  width: 70px;
}

.isMainTitle {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.link,
.link:hover,
.link:focus {
  height: 25px;
  color: #242424;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.btn {
  width: 134px;
  background: linear-gradient(
    93.77deg,
    #abafe9 5.59%,
    #b5e0fd 99.02%
  );
}
